.ChangePasswordBox {
    box-shadow: none !important;
    border-radius: 8px !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    width: 35% !important;
}

@media (max-width: 1600px) {
    .ChangePasswordBox {
        width: 40% !important;
    }
}

@media (max-width: 1400px) {
    .ChangePasswordBox {
        width: 50% !important;
    }
}

@media (max-width: 1200px) {
    .ChangePasswordBox {
        width: 60% !important;
    }
}

@media (max-width: 1000px) {
    .ChangePasswordBox {
        width: 80% !important;
    }
}

@media (max-width: 700px) {
    .ChangePasswordBox {
        width: 100% !important;
    }
}

.ChangePasswordBox:hover {
    box-shadow: rgba(32, 40, 45, 0.08) 0 2px 10px 0 !important;
}

.ChangePasswordHeader {
    padding: 21.5px 15px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    line-height: 1.334 !important;
}

.ChangePasswordContent {
    padding: 20px !important;
}