# === Java / Spring Boot ===
*.class
*.jar
*.war
*.ear
target/
out/
*.log

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# === Node.js / React ===
node_modules/
dist/
build/

# Env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === System files ===
.DS_Store
Thumbs.db

# === WebStorm / VSCode ===
.vscode/

# Spring Boot
application.yml
