# Project exclude paths
/commons/common-domain/target/
/commons/common-infrastructure/target/
/commons/common-rest/target/
/configuration/security-module/target/
/modules/activities-module/activities-domain/target/
/modules/activities-module/activities-infrastructure/target/
/modules/activities-module/activities-rest/target/
/modules/animal-module/animal-domain/target/
/modules/animal-module/animal-module-infrastructure/target/
/modules/animal-module/animal-module-rest/target/
/modules/article-module/article-domain/target/
/modules/article-module/article-infrastructure/target/
/modules/article-module/article-rest/target/
/modules/attachment-module/attachment-domain/target/
/modules/attachment-module/attachment-infrastructure/target/
/modules/attachment-module/attachment-rest/target/
/modules/gmail-auth-module/gmail-auth-domain/target/
/modules/gmail-auth-module/gmail-auth-infrastructure/target/
/modules/gmail-auth-module/gmail-auth-rest/target/
/modules/login-pass-auth-module/login-pass-auth-domain/target/
/modules/login-pass-auth-module/login-pass-auth-infrastructure/target/
/modules/login-pass-auth-module/login-pass-auth-rest/target/
/modules/notification-module/notification-domain/target/
/modules/notification-module/notification-infrastructure/target/
/modules/notification-module/notification-rest/target/
/modules/tag-module/tag-domain/target/
/modules/tag-module/tag-infrastructure/target/
/modules/tag-module/tag-rest/target/
/modules/user-account-module/user-account-domain/target/
/modules/user-account-module/user-account-infrastructure/target/
/modules/user-account-module/user-account-rest/target/