.tableContainer {
    border-radius: 8px !important;
}

.tableContainer:hover {
    box-shadow: rgba(32, 40, 45, 0.08) 0 2px 10px 0 !important;
}

.progressBarBox {
    height: 10px !important;
}

.paginationOuterBox {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.paginationInnerBox {
    display: inline-flex !important;
}

.paginationSelect {
    box-shadow: none !important;
}

.divider {
    border-width: 0 0 thin !important;
    border-style: solid !important;
}

.paginationBox {
    padding: 8px 0 !important;
}