.PasswordStrengthStack {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: start !important;
}

.PasswordStrengthBar {
    height: 8px;
    width: 80px;
    border-radius: 8px;
    margin-right: 10px;
}

.PasswordStrengthBarLabel {
    font-weight: 500 !important;
    color: rgb(18, 25, 38) !important;
    line-height: 1.75 !important;
    font-size: 0.70rem !important;
    text-transform: capitalize !important;
}