<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
    <style>
#title {
  text-align: center
}
#button1 {
  text-align: center;
  background-color : #15ebe7;
  border: none;
  padding: 15px 34px;
  font-size: 20px;
  font-family: "Lucida Console", Lucida Console, "Serif";
  border-radius: 40px;
  color: black;
  text-decoration: none;
}
    </style>
</head>
<body>
<div id = 'title'>
    <h1 th:text="#{welcome} + ' ' + ${name}"></h1>
    <br/>
    <p th:text="#{update.text.first}"><strong></strong></p>
    <p th:text="#{update.text.second}"></p>
    <br/>
    <br/>
    <div>
        <a th:href="${link}" th:text="#{update.ref.text}" target="_blank" id="button1"></a>
    </div>
</div>
</body>
</html>