.MainBox {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.MainBox .MuiTextField-root {
    margin: 2px !important;
    width: 100% !important;
}

.FormikTextField {
    margin-left: 16px !important;
    margin-bottom: 16px !important;
}

.FormikButton {
    margin-right: 8px !important;
    margin-left: 8px !important;
}

.FormikError {
    border-color: red;
}

.MainGrid {
    display: flex !important;
}

.Grid2 {
    flex-basis: 50% !important;
    flex-grow: 0 !important;
    max-width: 50% !important;
    padding-left: 4px !important;
}

.Grid3 {
    display: flex !important;
    flex-direction: row !important;
    flex-basis: 50% !important;
    flex-grow: 0 !important;
    max-width: 50% !important;
}

.ErrorGrid {
    padding-left: 4px !important;
}

.Paper {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    box-shadow: none !important;
    background-image: none !important;
    border-radius: 8px !important;
    overflow: hidden !important;
}

.Card {
    width: 100% !important;
}

.PaperBox {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}