.SelectTextField,
.SelectTextFieldFilled {
    border-radius: 4px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    letter-spacing: 0 !important;
    height: 60px !important;
    box-sizing: border-box !important;
}

.SelectTextField:hover {
    border: none !important;
}

.SelectTextFieldFilled:hover {
    border: 1px solid black !important;
}

.SelectTextFieldLabel {
    font-size: 14px !important;
    letter-spacing: 0 !important;
}

.MenuItem,
.MenuItemSelected {
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.334em !important;
    padding: 6px 16px !important;
}

.MenuItemSelected {
    background-color: rgba(33, 150, 243, 0.08) !important;
}